// Import colors
@import "../../bower_components/hocus-pocus/scss/colors";

// Define your settings
$font-family-base: "Open Sans", sans-serif;
$grid-container: 70rem;
$navbar-background: $color-blue;

// Import framework
@import "../../bower_components/hocus-pocus/hocus-pocus";

.utm-url {
  font-family: $font-family-monospace;
}
