<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>utm generator</title>
    <%= stylesheet_link_tag :site %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"
      rel="stylesheet" type="text/css">
    <% if build? %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.14/vue.min.js"></script>
    <% else %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.14/vue.js"></script>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="container">
          <div class="grid grid-pair">
            <div class="grid-item 1/4">
              utm tag generator
            </div>
            <div class="grid-item 3/4">
              <ul class="navbar-menu">
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
